<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Paraguay Validators</title>
    <meta name="description" content="Paraguay Validators">
    <meta name="author" content="Jorge Calijurio">

    <style type="text/css">
        body {
            font-family: Calibri;
        }

        .danger {
            color: #f00;
        }

        .ok {
            color: #00f;
        }

        .m-top {
            margin-top: 20px;
        }

        .m-top-2x {
            margin-top: 40px;
        }
    </style>

</head>

<body ng-app="home">
    <h1>Paraguay Validators</h1>
    <a href="https://github.com/jcalijurio/paraguay-validators">GitHub</a>

    <div ng-controller="ctrl-home">
        <form name="form1" id="form1" novalidate>
            <h2>RUC</h2>
            <div class="m-top">
                <label for="generalRUC">Individual and Company RUC:</label>
                <input type="tel" name="generalRUC" id="generalRUC" ng-model="rucs.general" minlength="11" maxlength="12" py-ruc />
                <span class="danger" ng-if="form1.generalRUC.$error.ruc">invalid</span>
            </div>
            <div class="m-top">
                <label for="individualRUC">RUC Individual:</label>
                <input type="tel" name="individualRUC" id="individualRUC" ng-model="rucs.individual" minlength="11" maxlength="12" py-individual-ruc />
                <span class="danger" ng-if="form1.individualRUC.$error.ruc">invalid</span>
            </div>
            <div class="m-top">
                <label for="companyRUC">RUC Company:</label>
                <input type="tel" name="companyRUC" id="companyRUC" ng-model="rucs.company" minlength="12" maxlength="12" py-company-ruc />
                <span class="danger" ng-if="form1.companyRUC.$error.ruc">invalid</span>
            </div>
            <h3 class="m-top">Result</h3>
            <pre>
{{ rucs | json}}
            </pre>
            <h2>Car Plates</h2>
            <div class="m-top">
                <label for="generalPlate">All car plate formats:</label>
                <input type="text" name="generalPlate" id="generalPlate" ng-model="plates.general" minlength="6" maxlength="8" py-car-plate />
                <span class="danger" ng-if="form1.generalPlate.$error.carplate">invalid</span>
            </div>
            <div class="m-top">
                <label for="oldPlate">Old car plate format:</label>
                <input type="text" name="oldPlate" id="oldPlate" ng-model="plates.old" minlength="6" maxlength="7" py-old-car-plate />
                <span class="danger" ng-if="form1.oldPlate.$error.carplate">invalid</span>
            </div>
            <div class="m-top">
                <label for="oldPlate">New car plate format:</label>
                <input type="text" name="newCarPlate" id="newCarPlate" ng-model="plates.newFormat" minlength="7" maxlength="8" py-new-car-plate />
                <span class="danger" ng-if="form1.newCarPlate.$error.carplate">invalid</span>
            </div>
            <div class="m-top">
                <label for="oldPlate">Motorcycle plate format:</label>
                <input type="text" name="motorcyclePlate" id="motorcyclePlate" ng-model="plates.motorcycle" minlength="7" maxlength="8" py-motorcycle-plate />
                <span class="danger" ng-if="form1.motorcyclePlate.$error.carplate">invalid</span>
            </div>
            <h3 class="m-top">Result</h3>
            <pre>
{{ plates | json}}
            </pre>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.9/angular.min.js"></script>
    <script src="../dist/angularjs-paraguay-validator.min.js"></script>
    <script src="index.js"></script>
</body>

</html>