<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Paraguay Validators</title>
    <meta name="description" content="Paraguay Validators">
    <meta name="author" content="Jorge Calijurio">

    <style type="text/css">
        body {
            font-family: Calibri;
        }

        .danger {
            color: #f00;
        }

        .ok {
            color: #00f;
        }

        .m-top {
            margin-top: 20px;
        }

        .m-top-2x {
            margin-top: 40px;
        }
    </style>

</head>

<body ng-app="home">
    <h1>Paraguay Validators</h1>
    <a href="https://github.com/jcalijurio/paraguay-validators">GitHub</a>

    <div ng-controller="ctrl-home">
        <form name="form1" id="form1" novalidate>
            <h2>RUC</h2>
            <div class="m-top">
                <label for="generalRUC">Individual and Company RUC:</label>
                <input type="tel" name="generalRUC" id="generalRUC" ng-model="rucs.general" minlength="8" maxlength="9" ruc />
                <span class="ok" ng-if="!form1.generalRUC.$error.ruc"></span>
                <span class="danger" ng-if="form1.generalRUC.$error.ruc">invalid</span>
            </div>
            <div class="m-top">
                <label for="individualRUC">RUC Individual:</label>
                <input type="tel" name="individualRUC" id="individualRUC" ng-model="rucs.individual" minlength="8" maxlength="8" individual-ruc />
                <span class="ok" ng-if="!form1.individualRUC.$error.ruc"></span>
                <span class="danger" ng-if="form1.individualRUC.$error.ruc">invalid</span>
            </div>
            <div class="m-top">
                <label for="companyRUC">RUC Company:</label>
                <input type="tel" name="companyRUC" id="companyRUC" ng-model="rucs.company" minlength="9" maxlength="9" company-ruc />
                <span class="ok" ng-if="!form1.companyRUC.$error.ruc"></span>
                <span class="danger" ng-if="form1.companyRUC.$error.ruc">invalid</span>
            </div>
            <h3 class="m-top">Result</h3>
            <pre>
{{ rucs | json}}
            </pre>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.9/angular.min.js"></script>
    <script src="../dist/angularjs-paraguay-validator.min.js"></script>
    <script src="index.js"></script>
</body>

</html>